@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

.hidden-sidebar #sidebar {
    margin-left: -14%;
}

.hidden-sidebar #projects {
    margin-left: 2rem;
    width: calc(100% - 2rem);
}