@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

.hidden-sidebar #sidebar {
    margin-left: -14%;
}

.hidden-sidebar #projects {
    margin-left: 2rem;
    width: calc(100% - 2rem);
}

#dropdown-menu {
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
}

#dropdown-menu li {
    display: flex;
    align-items: center;
}